<?=$view->doctype();?>
<?=$view->html();?>
<head>
	<?=$view->keywords( )->append('松本創,松本ハジメ,不登校,登校拒否'); ?>
	<?=$view->title()->append('松本ハジメと「かむながら」'); ?>
	<?=$view->description('松本ハジメと「かむながら」'); ?>
	<?=$view->meta( );?>
	<?=$view->ie( );?>
	<?=$view->style( )->prepend('assets/css/main.css')->prepend('assets/css/common.css');?>
</head>
<body>
	<header id="root">
		<hgroup>
			<h1 id="logo">松本ハジメと「かむながら」</h1>
			<img src="assets/img/common/mascot.png" id="mascot"/>
		</hgroup>
	</header>

	<div id="eye_catch"></div>

	<div id="main_wrapper">
		<div id="main" class="clearfix">
			<div id="contents_wrapper">
				<section id="contents">
					<?=place( )->contents; ?>
				</section><!-- /contents //-->

			</div><!-- /contents_wrapper //-->

			<div id="sideber_wapper">
				<section id="sideber">
					<!-- [PLACE:sideber] -->
					<section id="profile">
						<figure><img src="assets/img/profile/hajime.jpg" alt="松本創の写真(昔)" /></figure>
						<h1 id="name">
							松本 創/ハジメ
						</h1>
						<article id="introduction">
							<p>
								1983年東京生まれ、福岡育ち。
								WEB開発/企業経営/役者/物書き/投資マネージャー。
								小学校で登校拒否児となり、現在に至。
							</p>
						</article>
					</section>

					<nav class="side">
						<ul>
							<!-- [BLOCK:NAVI] -->
							<li><?php echo $view->front()->link('トップ', 'index'); ?></li>
							<li><?php echo $view->front()->link('お知らせ', 'notice','home'); ?></li>
							<li><a href="#">仕事のはなし</a></li>
							<li><a href="#">芸能のはなし</a></li>
							<li><a href="#">不登校について</a></li>
							<li><a href="#">日々の雑感</a></li>
							<li><a href="#">問い合わせ</a></li>
							<!-- [/BLOCK:NAVI] -->
						</ul>
					</nav>
					<!-- [/PLACE:sideber] -->
				</section><!-- /sideber //-->
			</div><!-- /sideber_wapper //-->

			<aside id="adv">
				<!-- [PLACE:adv] -->
				<iframe src="http://rcm-jp.amazon.co.jp/e/cm?t=kurari04-22&o=9&p=6&l=ur1&category=kindlebooks&banner=02BCQQNBZZS752RPY702&f=ifr" width="120" height="150" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" border="1"></iframe>
				<iframe src="http://rcm-jp.amazon.co.jp/e/cm?lt1=_blank&bc1=_blank&IS2=1&bg1=_blank&fc1=000000&lc1=0000FF&t=kurari04-22&o=9&p=8&l=as1&m=amazon&f=ifr&ref=qf_sp_asin_til&asins=B00B4HVH4G" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
				<!-- [/PLACE:adv] -->
			</aside>


		</div><!-- /main //-->
	</div><!-- /main_wrapper //-->

	<div id="footer">
		<footer>
			<small>&copy; 2013 Hajime MATSUMOTO All rights reserved</small>
		</footer>
	</div>


	<!-- Google Analytics //-->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37941501-1']);
		_gaq.push(['_trackPageview']);
		(function() {
		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();
</script>
<!-- /Google Analytics //-->
</body>
</html>
