@charset "UTF-8";

/*--------------------------------------------------------------------
 * リセット部分
 * --------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
a, abbr, address, big, cite, code, em, font, img,
small, strong, sub, sup, fieldset, form, label,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

ol, ul {
	list-style:none;
}
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	overflow-y: scroll;
}

/*--------------------------------------------------------------------
 * HTML5対策
 * --------------------------------------------------------------------*/
article,aside,details,footer,header,hgroup,menu,nav,section,summary {
		display: block;
}
/*--------------------------------------------------------------------
 * clearfix対応
 * --------------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/*--------------------------------------------------------------------
 * ローカルな部分
 * --------------------------------------------------------------------*/
